FLASK_ENV=production
ENVIRONMENT=aws
DATABASE_URI=postgresql://postgres:YOUR_PASSWORD@YOUR_RDS_ENDPOINT:5432/blacklist
JWT_SECRET_KEY=YOUR_RANDOM_SECRET_KEY_HERE
STATIC_BEARER=uniandes-devops-2026
AWS_REGION=us-east-1

NEW_RELIC_APP_NAME="devops-taller-4-flask (production)"
NEW_RELIC_ENVIRONMENT=production
NEW_RELIC_CONFIG_FILE=/app/newrelic.ini
NEW_RELIC_LOG=stdout
NEW_RELIC_DISTRIBUTED_TRACING_ENABLED=true
NEW_RELIC_LOG_LEVEL=info
ENABLE_ERROR_TEST_ENDPOINT=false

# En AWS leo la licencia desde SSM:
# /taller4/NEW_RELIC_LICENSE_KEY
